<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tétel hozzáadása</title>
</head>
<body>
    <form method="POST" action="submit-form">
        <input type="number" name="id">
        <textarea name="task"></textarea>
        <textarea name="content"></textarea>
        <input type="submit" value="OK">
    </form>
</body>
</html>